[user]
	name = A
	email = 666av6@gmail.com
	signingkey = C:/Users/A/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[core]
	editor = "C:/Program Files/Microsoft VS Code/Code.exe" --wait
	autocrlf = input
	fileMode = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = C:/Users/A/.ssh/allowed_signers
[push]
	autoSetupRemote = true
